# Database
DATABASE_URL="mongodb://localhost:27017/quicknotes"

# NextAuth Configuration
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-here-generate-with-openssl-rand-base64-32"

# For Production (Vercel)
# DATABASE_URL="mongodb+srv://username:password@cluster.mongodb.net/quicknotes?retryWrites=true&w=majority"
# NEXTAUTH_URL="https://your-domain.vercel.app"
# NEXTAUTH_SECRET="your-production-secret-key"
